<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %> 
   <div style="display: flex; justify-content: space-around;">
    <% blogs.forEach((blog) =>{ %>
        <div>
            <img src="<%= blog.imagePath %>" width="500px" alt="">
            <h1><%= blog.title %></h1>
            <button type="button"><a href="/blog/<%= blog._id %>">View</a></button>
        </div>
                <%   }) %>
   </div>
  </body>
</html>
