<nav>
  <ul
    style="
      display: flex;
      color: #000;
      font-size: x-large;
      justify-content: space-between;
      padding: 5px;
      text-transform: uppercase;
      list-style-type: none;
    "
  >
    <li>
      <a href="">home</a>
    </li>
    <li></li>
    <li>
      <a href="/blog"> create blog</a>
    </li>
    <li>
      <a href="/blog/all">Blogs</a>
    </li>
    <li>
      <a href="/user/register">register</a>
    </li>
    <li>
      <a href="/user/login">login</a>
    </li>
    <li>
      <a href="/user/logout">logout</a>
    </li>
  </ul>
</nav>
